.bellvatinnhan1
{
  margin-bottom:24.5px;
  width:43px;
  height:43px; 
margin-left: -7px;
}

.bellvatinnhan2
{
  width:20px;
  height:20px;
  margin-bottom:17.5px;
  margin-left:-7px;


}

.avt
{
  width: 92px;
  height: 92px;


  display: inline;
  margin-left:40px;
}

.nutbellvatinnhan
{
  width:43px;
  background: none;
  border:none;
  height:43px; 
  cursor: pointer;
  margin-left:40px;
  border-radius: 50%;
}

.nutmauxanhla
{
  border:none;
  background:none;
  width:20px;
  height:23px;
  margin-left:-18px;
  cursor:pointer; 
}

.nutavt1
{
  border-radius:50%;
  height:92px;
  width:92px;
  cursor: pointer;
  border:none;
  background:none;
}

.nutavt2
{
  border:none;
  background:none;
  width:25px;
  height:25px;
  margin-left:-25px;
  cursor:pointer;
}

.nutavtanh1
{
  width: 92px;
  height: 92px; 
  object-fit: cover;
  border-radius:50%;
  margin-left:-8.5px;
}

.nutavtanh2
{
  width:25px; 
  height:25px; 
  object-fit: cover;
  margin-left:-6px;
}