header {}

#wrapper {

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  margin: auto;
  height: 124px;
  padding: 0 110px;
  background: linear-gradient(90deg, #ffffff 0%, #9addff 100%);
}

#logo {
  width: 250px;
  height: 100px;
  display: flex;
  align-items: center;
}

#logo img {
  height: 83.5px;
}

#nav {
  display: flex;
  gap: 80px;
  font-weight: 700;
  font-size: 20px;
  white-space: nowrap;
}

#nav a {
  text-decoration: none;
  color: #000;
  transition: color 0.3s ease;
}

#nav a:hover {
  color: #08a0ff;
}

#hanhdong {
  display: flex;
  gap: 16px;
  align-items: center;
}

.navphaidangnhap,
.navphaidangky {
  padding: 12px 24px;
  border-radius: 35px;
  font-weight: 600;
  text-decoration: none;
  white-space: nowrap;
  transition: background 0.3s ease;
}

.navphaidangnhap {
  background: #1ba0f4;
  color: white;
}

.navphaidangnhap:hover {
  background: #1485d4;
}

.navphaidangky {
  background: #fff;
  color: #1ba0f4;
  border: 1px solid #40c2ff;
}

.navphaidangky:hover {
  background: #e6f7ff;
}