#phan2_1 {
  max-width: 1440px;
  margin:auto auto  ;
  max-width: 1440px;
  margin: auto;

  
}

.phan2 {
  width: 100%;
  height: 704px;
  border: solid 1px #9ADDFF;

  position: relative;
}

.banner {
  position: absolute;
  width: 100%;
  height: 596px;
  left: 0;
  top: 0;

    border:solid 1px #9ADDFF;


        background: linear-gradient(180deg, #97DCFF 0%, #FFFFFF 44.23%);


}

.khungnho
{
position: absolute;
width: 1341px;
height:537px;
left: 100px;
top: 59px;

      overflow:hidden;
      background-repeat:no-repeat;
      background-position:right;


      background-image: url('../Img/banner.png');
      background-size: 510px 549px;

}


.timvieclam
{
position: absolute;
width: 502px;
height: 72px;
left: 50px;
top: 12px;

font-family: 'Poppins';
font-style: normal;
font-weight: 800;
font-size: 74px;
line-height: 72px;
color: #FFFFFF;

text-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
  white-space: nowrap;

}

.timmotcongviec
{
position: absolute;
width: 831px;
height: 128px;
left: 50px;
top: 115px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 54px;
line-height: 72px;
color: #1F1F2F;


}

.hangtramcohoi
{
position: absolute;
width: 471px;
height: 64px;
left: calc(50% - 471px/2 - 384.5px);
top: 294px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 34px;

color: #585858;


}



.search-box {
  width: 1012px;
  height: 58px;
  margin: 620px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 50px;
  padding: 0 8px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.25);
}

.search-input-wrapper {
  display: flex;
  align-items: center;
  flex: 1;
  padding-left: 16px;
}

.search-icon {
  font-size: 18px;
  margin-right: 12px;
  color: #999;
}

.search-box input[type="text"] {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: transparent;
}

.nuttimkiem {
  height: 42px;

  margin-right: 6.5px;
  background-color: #0073e6;
  color: white;
  border:1px solid #C3BBBB;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100px;
  height: 46px;
}



.nuttimkiem:hover {
  background-color: #005bb5;
}




.searchne
{
  width: 1012px;
height: 64px;
}
