.phan5 {
    
}

.banner2ne {
    width: 1220px;
    height: 388px;
    margin: auto;
    background-image: url('../Img/banner2.png');
        border-radius: 8px;
    background-size: 624px 391px;
    background-repeat: no-repeat;
    background-position: right 0%;
    background-color: #85BEFF;
}

.h1ne {
    margin-left: 95px;
    padding-top: 20px;
    font-size: 40px;
    color: white;
}

.pne {
    margin-left: 95px;
    font-size: 22px;
    color: white;
}

.nutnhanne {
    width: 145px;
    height: 40px;
    margin-left: 95px;
    color: #85BEFF;
    font-size: 16px;
    border-radius: 35px;
    border: none;
    background-color: white;


}