





#phan4 {
  width: 100%;
  max-width: 1440px;
  margin: auto;

}


.highlight {
  background: rgba(55, 188, 250, 0.06);
  padding: 16px;
  margin-bottom: 16px;
  margin-inline: 110px;
}

.nghetrongdiem
{
    font-size: 64px;
  color:#0379FC;
  margin:25px 110px;
}


.jobs-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 58px; 
  row-gap: 29px; 
  align-items: start;

}

.job-card {
  background: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
  display: flex;
  flex-direction: column;

}

.top {
  display: flex;
  gap: 10px;
  align-items: center;
}
.logo {
  width: 44px;
  height: 44px;
  border-radius: 6px;
  background: #ffe6e6;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: #ff3b3b;
}
.company {
  font-size: 14px;
  font-weight: 700;
}
.location {
  font-size: 12px;
  color: #666;
}


.job-title {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 700;
}
.badge {
  display: inline-block;
  margin-top: 6px;
  padding: 6px 10px;
  background: #7c5cff;
  color: white;
  border-radius: 12px;
  font-size: 12px;
}


.description {
  margin-top: 8px;
  font-size: 13px;
  color: #444;
  flex: 1;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.salary {
  font-weight: 700;
}
.apply-btn {
  border:1px solid #1BA0F4 ;
  color: #1BA0F4;
  background-color: white;
  padding: 8px 12px;
  border-radius: 35px;
  cursor: pointer;
  width: 150px;
  height: 47px;

  font-size: 16px;
}





.job-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 24px rgba(0,0,0,0.08);
  transition: transform 0.15s ease;

}

.apply-btn:hover
{
    color: white;
  background-color: #1BA0F4;
    transform: translateY(-4px);
  box-shadow: 0 8px 24px rgba(0,0,0,0.08);
  transition: transform 0.15s ease;
  content: attr(date-hover);
}
