.quanly2nut 
{
  display: block;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.quanly2nut button 
{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 20px;
  font-size: 16px;

  border-radius:50px;
  cursor: pointer;
  width: 200px;
  height: 60px;


}

.google
{
  color:#6B6B6B;
  background-color: white;
  border:1px solid #6B6B6B ;
  display: block;
}

.nutdangnhap
{
 color:white;
border: none;

background: linear-gradient(90deg, #1BA0F4 0%, #5AC9FF 54.33%, #22A4F5 100%);

margin-bottom: 16px;

}

.quanly2nut .anhgg {
  vertical-align: middle;
}


.phandkqmk {
  margin-top: 15px;
  font-size: 14px;
  text-align: center;
  margin-right: 20px;
}

.quenmatkhau {
  color: #AAAAAA;
  text-decoration: none;
  margin: 0 5px;
}

.dangkyngay
{
  color: #40C2FF;
  text-decoration: none;
  margin: 0 5px;
}

.phandkqmk a:hover {
  text-decoration: underline;
}
